body{
    background-image: url(../img/8a5187d15b78c1e0ea114f81f34b0b7d.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.div-4{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    height: 20px;
    color: aliceblue;
    background-color: black;
}
button{
    font-size: 18px;
    color: aliceblue;
    background-position: center;
    transition: all .5s ease;

}
button:hover{
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.39);
}
.div-5{
    display: flex;
}
.div-6{
    display: grid;
    grid-template-columns: 150px 150px;
}.div-7{
    display: grid;
    grid-template-columns: 150px 150px;
}
// #txt{
//     width:100%;
//     height: 85%;
// }
.div-9{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
    height:15%;
}
.div-8{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#txt{
    height: 500px;
    width: 500px;
    background-image: url(../img/s-l500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: 20px;
    
}
#button1{
    background-image: url(../img/0747657d87ff3672962f992283e1804c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button2{
    background-image: url(../img/13fcc270a793cd2193962402d6fad5fe.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button3{
    background-image: url(../img/1612192340_105-p-fioletovii-fon-naruto-152.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button4{
    background-image: url(../img/1687952475_sneg-top-p-avatarki-anime-patsani-chernie-krasivo-43.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#button5{
    background-image: url(../img/35-20211222_163551.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button6{
    background-image: url(../img/37fd0191d6a3b5ccb44d584f4692accb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button7{
    background-image: url(../img/8a5187d15b78c1e0ea114f81f34b0b7d.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button8{
    background-image: url(../img/9.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#button9{
    background-image: url(../img/9963a65430f8968440feb802d6a1d809.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#button10{
    background-image: url(../img/9\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#button11{
    background-image: url(../img/unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button12{
    background-image: url(../img/ce01ac97bddb53723ac73a6139329ce1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button13{
    background-image: url(../img/gas-kvas-com-p-oboi-moi-mir-anime-40.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button14{
    background-image: url(../img/kakoj-ty-muzhskoj-anime-personazh-scaled.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#button15{
    background-image: url(../img/naruto-team-7-saske-naruto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button16{
    background-image: url(../img/orig.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
